ShopWell/.classpath
ShopWell/.settings
ShopWell/.project
ShopWell/bin/*
.metadata
ShopWellTest/.classpath
ShopWellTest/.settings
ShopWellTest/.project
ShopWellTest/bin/*
ShopWellTest/libs
ShopWellTest/local.properties
